
<h4>@ViewData["Result"]</h4>

<h4>Population BMI Report</h4>
<br />
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>
            Category
        </th>
        <th>
            Count
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in (List<ReportModel>)ViewData["PopulationReport"])
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
        </tr>
    }
    </tbody>
</table>
<h4> You rank in @ViewData["UsersRanking"]% percentile of the population.</h4>